$length: 1000;

@mixin render-length-line {
  @for $i from 1 through $length {
    .book-session__less15min .less15min-line-#{$i} {
      width: #{$i + '%'};
    }
  }
}

@mixin scrollBar($property: width, $value: 4px) {
  &::-webkit-scrollbar {
    #{$property}: $value;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
    margin-top: 40px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      191deg,
      rgba(74, 102, 201, 0.14) 6.67%,
      rgba(185, 196, 230, 0.14) 136.59%
    );
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      191deg,
      rgba(74, 102, 201, 0.28) 6.67%,
      rgba(185, 196, 230, 0.28) 136.59%
    );
  }
}
